/*Requirements*/
.hero, .header, .footer{
    background-color: #1F2937;
}

li > *, .hero-secondary-text{
    font-size: 18px;
    color: #e5e7eb;
}

.logo, .hero-main-text{
    color:#f9faf8;
}

.logo{
    font-size:24px;
}

.hero-main-text{
    font-size: 48px;
    font-weight: 800;
}

button{
    border:solid;
    border-radius: 10px;
    font-size:18px;
    padding:10px;
    border-color: transparent;
    margin:auto;
    background-color: #3882f6;
    color:#e5e7eb;
}

.information > h1{
    font-size:36px;
    color: #1f2937;
    font-weight: 900;
}

body{
    display: flex;
    flex-direction:column;
    margin:0;
    padding:0;
  }

body > *{
    padding: 10px 15% 10px 15%;
}
.header, .hero{
    display:flex;
    justify-content: space-between;
}

.header{
    align-items: center;
}

.hero{
    gap:30px;
    flex-wrap:wrap
}

.hero-text{
    width: 35vw;
}

.hero-image{
    flex:1;
    align-self: center;
}

.hero-image img{
    min-width: 35vh;
    max-width: 100%;
    height: auto;
}

.information{
    display:flex;
    flex-direction:column;
}

.information > h1{
    align-self: center;
}

.container{
    display:flex;
    justify-content: space-evenly;
}

.card, .subtext{
    width:100px;
}

.card{
    flex-basis:auto;
    border-radius: 10px;
    height: 100px;
    border: 2px solid #3882f6;
}

.subtext{
    flex-wrap:wrap;
    text-align: center;
}

.quote{
    background-color:#e5e7eb;
}

blockquote{
    display:flex;
    flex-direction: column;
}

.quote-text{
    font-style:italic;
    font-size:36px;
    color:#1f2937;
    font-weight: 300;
    margin-bottom: -10px;
}

.quote-author{
    align-self: flex-end;
    padding-bottom: 30px;
}

.call-box{
    border-radius: 10px;
    background-color:#3882f6;
    padding:20px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.call-message
{
    color:#e5e7eb;
}

.call-message h1{
    margin-bottom:-10px;
}
.call-box button{
    border-color:#e5e7eb;
}

ul{
    display: flex;
    list-style: none;
    gap:10px;
}

li > * {
    text-decoration: none;
}

.footer{
    padding:30px;
    text-align: center;
    color:#e5e7eb;
}